@page "/EditAccount/{Id:int}"

@using CockroachDbLib.Repository
@using CockroachDbLib.Models
@using BlazorAppWithCockroachDB.Model

@inject IAccountRepository _accountRepository;
@inject NavigationManager NavigationManager

<h3>EditAccount</h3>

<div class="row">
    <EditForm Model="@accountModel" OnValidSubmit="@UpdateAccount">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            Balance: <InputNumber id="balance" @bind-Value="accountModel.balance" class="form-control" />
        </div>

        <div class="form-group">
            Name: <InputText id="name" @bind-Value="accountModel.name" class="form-control" />
        </div>

        <br />

        <button type="submit" class="btn btn-success">Update</button>
    </EditForm>

</div>

<br />
<br />
<a href="/Accounts">Back to List</a>

@code {
    [Parameter]
    public int? Id { get; set; }

    private AccountModel accountModel = new AccountModel();

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            NavigationManager.NavigateTo("Accounts");
        }

        Account customerAccount = await _accountRepository.GetAccountById(Id);

        if (customerAccount == null)
        {
            NavigationManager.NavigateTo("Accounts");
        }
        else
        {
            accountModel.name = customerAccount.name;
            accountModel.balance = customerAccount.balance;
        }
    }

    private void UpdateAccount()
    {
        Account account = new Account
        {
            id = Id.Value,
            balance = accountModel.balance,
            name = accountModel.name
        };

         _accountRepository.UpdateAccount(account);
        NavigationManager.NavigateTo("Accounts");
    }
}
